body {
  text-align: left;
  background-color: #796666;
}

.recipe-card {
  text-align: left;
  border-radius:0px;
  border:10px solid #898e86;
  width: 60vw;
  margin: auto;
  padding:100px;
  margin-top: 8px;
  background-color: #563e3e;
}

.infophoto{ 
  display: flex;
  justify-content:space-between;
  align-items:center;
}




.section{
  background-color: darkkhaki; 
  width:auto;
  padding: 10px;
  margin: 20px;
}

.sec-gauche{
 display:left;
justify-content:space-around;
  align-items:center;
}


h1 {
    color: chocolate;
    font-family: sans-serif;
    box-shadow: -13px 13px 10px black;
    text-shadow: 0 0 0px black;
}

h2 {
   color:black;
  font-family: serif;
}

.avatar{
  width:10vw;
}

  
img {
  width: 20vw;
  border-radius: 30px;
}


