body{
  padding: 0px;
  margin: 0px;
}
.navbar {
 background-color: #A42C6B;
 font-family: 'Roboto Slab', serif;
  position: fixed; 
  border: double;
  display: flex;
  height: 20vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
 z-index: 10;
}
.logocinejojo{
 width: 10vw;
  height: 10vh;
}
.button-menu{
color: white;
}
.button-menu:hover{
  color: blue;
}


.info{
  padding: 130px;
  border: ridge;
  color: black;
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
 }

h1{

  text-shadow: -1px 14px 0px #151414;
  color: red;
}








